<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Pay Cycles</title>
</head>

<body>
    
    <%- include('../partials/nav.ejs') %>

    <div class="allpayslipCon">
        <div class="personnel">
            <div class="imgBx">
                <img src="https://cdn4.iconfinder.com/data/icons/job-avatar/512/Job_Avatar-15-512.png" alt="">
            </div>
            <div class="box">
                <div class="pr_lgin"> Supervisor:  <%= my_session.first_Nm %>  </div>
              
                <div class="dets">
                    <p>Joined the Family: December 06, 2021</p>
                    <p>Vacation Days Available: 10</p>
                    <p>Sick Days Available: 10</p>
                    <div class="btn">
                        <button>Apply for Leave</button> <br>
                        <button>Contact Human Resources</button>    
                    </div>
                </div>
                
            </div>
        </div>
    
        <div class="allpayslips">
    
    <h1>All Department Employees</h1>

    <div>
        
        <% if(alldepEmployees.length) {
            for(var i = 0; i < alldepEmployees.length; i++) { 
         %>
     
            <table>
                <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>First Name:</th>
                    <th>Last Name:</th>
                    <th> Action </th>
                </tr>
                </thead>
      
                    <tbody>
                        
                        <tr>
                            <td><%= alldepEmployees[i].emply_id %> </td>
                            <td><%= alldepEmployees[i].emply_fn %> </td>
                            <td><%= alldepEmployees[i].emply_ln %> </td>
                            <td> <a href="/supervisor/create/<%= alldepEmployees[i].emply_id %>" >Add Hours</a> </td>
                             <td> <a href="/supervisor/empedit/<%= alldepEmployees[i].emply_id %>">Edit Employee</a></td>
                        </tr>
                    </tbody>
                
            </table>

         <% } %>
        <% } %>
    </div>

    <div class="opts linkbtns">
        
            <a href="/supervisor/addemployee">Add Employee</a>            
            <a href="/supervisor/addleaveday">Add Staff Leave Day Application</a>
           
            
        </div>
    </div>
    </div>

        <%- include('../partials/footer.ejs') %>
    
</body>
</html>