<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Add Hours</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    
    <h1>All Employees</h1>

    <div>
        <form action="/accounts/emphour/new/<%= employeeInfo[0].ot_rate %>/<%= employeeInfo[0].reg_rates %>" method="post">
        
         <h2><%= employeeInfo[0].emply_fn %> <%= employeeInfo[0].emply_ln %> </h2>
            <h3><%= employeeInfo[0].dp_nm %> Department</h3>
                    <div>
                        <label for="">Pay Cycles: </label>
                        <select name="pay_cycle" id="">
                            <option value="1">January</option>
                            <option value="7">February</option>
                            <option value="8">March </option>
                            <option value="9">April</option>
                            <option value="10">May </option>
                            <option value="11">June</option>
                            <option value="12">July</option>
                        </select>
                    </div>
        
                    <div>
                        <label for="">Employee Id #:</label>
                        <input type="number" name="emp_id" placeholder="<%= employeeInfo[0].emply_id %> ">
                    </div>
                          
                    <div>
                        <label for="">Over time Hours Worked:  </label>
                        <input type="text" name="ot_wk" id="">
                    </div>

                    <div>
                        <label for="">Regular Hours Worked:  </label>
                        <input type="text" name="rg_wk" id="">
                    </div>

                    <div>
                        <input type="hidden" name="ot_rt" valu="<%= employeeInfo[0].ot_rate %>">
                        <input type="hidden" name="reg_rt" valu="<%= employeeInfo[0].reg_rates %>">
                    </div>

                    <div class="add">
                        <input type="submit" value="Add Employee Hours">
                    </div>
                </form>
        </div>                    
        <div>
            <input type="hidden" name="ot_rt" value="<%= employeeInfo[0].ot_rate %>">
            <input type="hidden" name="reg_rt" value="<%= employeeInfo[0].reg_rates %>">
        </div>
    </div>
</body>
</html>