<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles.css">
    <title>Pay Cycles</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    
    <div class="allpayslipCon">
        <div class="personnel">
            <div class="imgBx">
                <img src="https://cdn4.iconfinder.com/data/icons/job-avatar/512/Job_Avatar-15-512.png" alt="">
            </div>
            <div class="box">
                <div class="pr_lgin"> Supervisor:  <%= my_session.first_Nm %>  </div>
              
                <div class="dets">
                    <p>Joined the Family: December 06, 2021</p>
                    <p>Vacation Days Available: 10</p>
                    <p>Sick Days Available: 10</p>
                    <div class="btn">
                        <button>Apply for Leave</button> <br>
                        <button>Contact Human Resources</button>    
                    </div>
                </div>
                
            </div>
        </div>
    
        <div class="allpayslips allpayslips2">

    <h1>All Employees for Current Pay Cycle</h1>

    <div>
        
        <% if(pcinfo.length) {
            for(var i = 0; i < pcinfo.length; i++) { 
         %>
     
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Employee Department</th>
                    <th>Employee ID: </th>
                    <th>First Name:</th>
                    <th>Last Name:</th>
                    <th> Action </th>
                </tr>
                </thead>
      
                    <tbody>
                        
                        <tr>
                            <td><%= pcinfo[i].emply_dep %></td>
                             <td><%= pcinfo[i].emply_id %> </td>
                            <td><%= pcinfo[i].emply_fn %> </td>
                            <td><%= pcinfo[i].emply_ln %> </td>
                            <td> <a href="/accounts/editpayslip/<%= pcinfo[i].pay_cycle%>/<%= pcinfo[i].employee_id %>/<%= pcinfo[i].id %>">Edit Employee Hours</a></td>
                            <td> <a href="/accounts/viewpayslip/<%= pcinfo[i].pay_cycle%>/<%= pcinfo[i].employee_id %>/<%= pcinfo[i].id %>">Generate Payslip</a></td>
                        </tr>
                    </tbody>
                
            </table>

         <% } %>
         
         <% } else { %>
            <div class="noRecs">
            <p> No current records found</p>
            </div>

        <% } %>
    </div>
    <div class="opts">
        
            <a href="/AccountOff/allemps">Add New Employee Hours</a>
            
        </div>
        
 </div>
</div>

    <%- include('../partials/footer.ejs') %>
   
</body>
</html>