<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>All Pay Cycles</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="allpayslipCon">
        <div class="personnel">
            <div class="imgBx">
                <img src="https://cdn4.iconfinder.com/data/icons/job-avatar/512/Job_Avatar-15-512.png" alt="">
            </div>
            <div class="box">
                <div class="pr_lgin"> Supervisor:  <%= my_session.first_Nm %>  </div>
              
                <div class="dets">
                    <p>Joined the Family: December 06, 2021</p>
                    <p>Vacation Days Available: 10</p>
                    <p>Sick Days Available: 10</p>
                    <div class="btn">
                        <button>Apply for Leave</button> <br>
                        <button>Contact Human Resources</button>    
                    </div>
                </div>
                
            </div>
        </div>
    
        <div class="allpayslips">
    
    <h1>All Pay Cycles</h1>

    <div>
        
        <% if(allpaycycles.length) {
            for(var i = 0; i < allpaycycles.length; i++) { 
         %>
     
            <table>
                <thead>
                <tr>
                    <th>Paycycle</th>
                    <th>Date To:</th>
                    <th>Date From:</th>
                    <th> Status </th>
                </tr>
                </thead>
      
                    <tbody>
                        
                        <tr>
                            <td><%= allpaycycles[i].id %> </td>
                            <td><%= new Date(allpaycycles[i].dt_from).toDateString() %> </td>
                            <td><%= new Date(allpaycycles[i].dt_to).toDateString() %> </td>
                            <% if (allpaycycles[i].cycle_status == 0) { %>
                                <td>
                                    inactive
                                </td>
                                    <% } else if (allpaycycles[i].cycle_status == 1) { %>
                                        <td>
                                            active
                                        </td>
                                <% } %>

                            <td><%= allpaycycles[i].cycle_status %></td>
                            <td> <a href="/AccountOff/viewpaycycle/<%= allpaycycles[i].id %>" >View Pay cycle</a> </td>
                        </tr>
                    </tbody>
                
            </table>

         <% } %>
    
        <% } %>
    </div>



     <div class="opts">
        <a href="/AccountOff/allemps">Add New Salary</a>    
    </div>
</div>
</div>

    <%- include('../partials/footer.ejs') %>


    
</body>
</html>