<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles.css">
    <title>User Login</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Current Pay Slip</h1>

    <div class="allpayslipCon">
        <div class="personnel">
            <div class="imgBx">
                <img src="https://cdn4.iconfinder.com/data/icons/job-avatar/512/Job_Avatar-15-512.png" alt="">
            </div>
            <div class="box">
                <div class="pr_lgin">  <%= my_session.first_Nm %>  </div>
              
                <div class="dets">
                    <p>Joined the Family: December 06, 2021</p>
                    <p>Vacation Days Available: 10</p>
                    <p>Sick Days Available: 10</p>
                    <div class="btn">
                        <button>Apply for Leave</button> <br>
                        <button>Contact Human Resources</button>    
                    </div>
                </div>
                
            </div>
        </div>

        <div class="allpayslips">

        <% if(currentpayslip.length) {
            for(var i = 0; i < currentpayslip.length; i++) { 
         %>
           <div class="tableInfo">

            <p class="cycles">Pay Cycle #: <%= currentpayslip[i].pay_cycle %></p>

                <div class="Dates">
                    <p>Date From: <%= new Date(currentpayslip[i].dt_from).toDateString('fr-CA') %></p>
                    <p>Date To: <%= new Date(currentpayslip[i].dt_to).toDateString('fr-CA') %></p>
                </div>
                <div class="hours">
                    <p> Regular Hours Worked: <span><%= currentpayslip[i].reg_hours_worked %> </span> </p>
                    <p>Over Time Worked: <span><%= currentpayslip[i].ot_worked %></p>               </span>     
                </div>
                <div class="pay">
                    <p>Total Regular Time Paid: <span><%= currentpayslip[i].total_regsal %></span> </p>
                    <p>Total Over Time Paid: <span><%= currentpayslip[i].total_ot %></span></p> 
                </div>
           
                <p>Gross Pay: <%= currentpayslip[i].gross_pay %></p>
            </div>
                  

         <% } %>
        <% } %>

                  
        <div class="opts">
                    <a href="/employees">Home</a>
                    <a href="/logout"> Log Out</a>
                </div>
            </div>
        

    </div>



    <%- include('../partials/footer.ejs') %>

</body>
</html>