<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Employee Page</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="mainlanding">
        <div class="imgbx">
            <img src="https://cdn4.iconfinder.com/data/icons/job-avatar/512/Job_Avatar-15-512.png" alt="">
        </div>

        <h1 class="welcome">Welcome Back
            <% if (my_session.loggedin == true) { %>
             <%= my_session.first_Nm %> 
            <% } %>
        </h1>
        <p class="greet">How Can We Assist You Today?</p>
        <div class="opts">
            <input type="hidden" value="<%= my_session.emp_id %>" name="user_id">
            <p><a href="">Request HR Consultation</a></p>
            <p><a href="/employees/allplayslip/<%= my_session.emp_id %>">View Pay Slips</a></p>
            
            <div class="buttons">
            <% if (my_session.user_Auth == 2) { %>
            <p>
                <a href="supervisor">Add Employee Hours</a>
            </p>
                <% } else if (my_session.user_Auth == 1) { %>
                    <p>
                        <a href="AccountOff">View Pay Roll</a>
                    </p>
               <% } %>
            </div>
        </div>
    </div>
 
    <%- include('../partials/footer.ejs') %>

</body>
</html>